:host {
    background-color: rgb(240, 244, 247);
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.nav {
    background-color: white;
    height: 70px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    display: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.text {
    font-family: "SimSun";
    font-size: 14px;
    color: #545454;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:#909090;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#909090;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#909090;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#909090;
}

.input {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    outline: none;
    font-family: "SimSun";
    font-size: 12px;
}

.search-button {
    border: none;
    border-radius: 5px;
    height: 30px;
    min-width: 72px;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
    display: flex;
    flex-flow: row;
    font-family: "SimSun";
    font-size: 12px;
    color: white;
}

.oper-button {
    border: none;
    border-radius: 5px;
    height: 30px;
    min-width: 72px;
    background-color: rgb(255, 162, 0);
    cursor: pointer;
    display: flex;
    flex-flow: row;
    font-family: "SimSun";
    font-size: 12px;
    color: white;
}

.table {
    background-color: rgb(240, 244, 247);
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.cell_heder {
    font-family: "SimSun";
    font-size: 12px;
    color: #7B7B7B;
    height: 32px;
    line-height: 32px;
}

.begin-cell-heder {
    padding-left: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-right: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.mid-cell-heder {
    border: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.end-cell-heder {
    padding-right: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-left: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.cell {
    font-family: "SimSun";
    font-size: 14px;
    color: #363636;
    height: 44px;
    line-height: 44px;
    padding-right: 10px;
}

.begin-cell {
    padding-left: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-top: none;
    border-right: none;
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.mid-cell {
    border: 1px solid rgb(238, 238, 238);
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.end-cell {
    padding-right: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-top: none;
    border-left: none;
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.cell-content {
    width: 0;
    display: block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.oper {
    font-family: "SimSun";
    font-size: 12px;
    color: #247BE7;
    cursor: pointer;
}

.current-cell {
    background-color: rgb(255, 162, 0);
    color: white;
}
