<div class="nav center-c">
  <div class="text">用户名：</div>
  <input class="input" type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="请输入用户名" />
  <div class="spacer-4"></div>
  <div class="search-button center" (click)="searchUser()">
    <img src="assets/images/icon_search_Small.png">搜索
  </div>
</div>

<div class="row-0">
  <div style="margin-left: 10px; "></div>
  <div class="oper-button center" (click)="addUser()">
    <img src="assets/images/add.png">添加
  </div>
  <div class="spacer-1"></div>
  <div class="oper-button center" (click)="modifyUser()">
    <img src="assets/images/edit.png">修改
  </div>
  <div class="spacer-1"></div>
  <div class="oper-button center" (click)="removeUsers()">
    <img src="assets/images/delete.png">删除
  </div>
</div>

<div class="table">
  <div class="column-4">
    <div class="cell_heder begin-cell-heder center-c">
      <input type="checkbox" [(ngModel)]="allChecked" [ngModelOptions]="{standalone: true}"/>账号
    </div>
    <div *ngFor="let user of users" [ngClass]="{'cell': true, 'begin-cell': true, 'center-c': true, 'current-cell': user.currentLine}" (click)="currentLineChanged(user)">
      <input type="checkbox" [(ngModel)]="user.checked" [ngModelOptions]="{standalone: true}" /><div class="cell-content">{{ user.account }}</div>
    </div>
  </div>
  <div class="column-4">
    <div class="cell_heder mid-cell-heder center-c">用户名</div>
    <div *ngFor="let user of users" [ngClass]="{'cell': true, 'mid-cell': true, 'center-c': true, 'current-cell': user.currentLine}" (click)="currentLineChanged(user)"><div class="cell-content">{{ user.username }}</div></div>
  </div>
  <div class="column-8">
    <div class="cell_heder mid-cell-heder center-c" >描述</div>
    <div *ngFor="let user of users" [ngClass]="{'cell': true, 'mid-cell': true, 'center-c': true, 'current-cell': user.currentLine}" (click)="currentLineChanged(user)"><div class="cell-content">{{ user.description }}</div></div>
  </div>
  <div class="column">
    <div class="cell_heder mid-cell-heder center-c">创建时间</div>
    <div *ngFor="let user of users" [ngClass]="{'cell': true, 'mid-cell': true, 'center-c': true, 'current-cell': user.currentLine}" (click)="currentLineChanged(user)">{{ user.createTime }}</div>
  </div>
  <div class="column">
    <div class="cell_heder end-cell-heder center-c">操作</div>
    <div *ngFor="let user of users" [ngClass]="{'cell': true, 'end-cell': true, 'center-c': true, 'current-cell': user.currentLine}" (click)="currentLineChanged(user)">
      <div class="oper" (click)="operRemoveUser(user)">删除</div>
      <div style="color: #247BE7;">|</div>
      <div class="oper" (click)="operModifyUser(user)">修改</div>
    </div>
  </div>
</div>

<div *ngIf="page && (page.end > 0)" class="row"></div>

<mms-pagination *ngIf="page && (page.end > 0)" [page]="page" (currentPageChanged)="currentPageChanged($event)"></mms-pagination>

<div *ngIf="!(page && (page.end > 0))" class="row">
  <div class="row"></div>
  <div class="column-0 center-c">
    <div class="row"></div>
    <img width="159" height="159" src="assets/images/empty-search.png">
    <div style="font-family: 'Microsoft YaHei'; font-size: 16px; color: #3d3d3d; margin-top: 30px; ">抱歉！暂时没有您想要的数据~~</div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>