:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(../../assets/images/background-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.text-1 {
    color: white;
    font-family: "PingFang SC";
    font-size: 60px;
}

.text-2 {
    color: white;
    font-family: "PingFang SC";
    font-size: 48px;
}

.text-3 {
    color: #C2C3C3;
    font-family: "PingFang SC";
    font-size: 24px;
}

.input-1 {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    outline: none;
    font-family: "PingFang SC";
    font-size: 22px;
}

.input-1::-webkit-input-placeholder, .input-2::-webkit-input-placeholder { /* WebKit browsers */
    color:#b1b2b2;
}

.input-1:-moz-placeholder, .input-2:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#b1b2b2;
}

.input-1::-moz-placeholder, .input-2::-moz-placeholde { /* Mozilla Firefox 19+ */
    color:#b1b2b2;
}

.input-1:-ms-input-placeholder, .input-2:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#b1b2b2;
}

.input-2 {
    border: none;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #626262;
    padding: 15px;
    outline: none;
    font-family: "PingFang SC";
    font-size: 22px;
}

.img-button-1 {
    width: 78px;
    height: 70px;
    background-color: white;
    border: none;
    outline: none;
    background-image: url(../../assets/images/img-button.png);
    background-size: 38px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.img-button-2 {
    width: 78px;
    height: 70px;
    background-color: #ffa200;
    border: none;
    border-bottom: 1px solid #626262;
    border-top-right-radius: 5px;
    outline: none;
    background-image: url(../../assets/images/img-button.png);
    background-size: 38px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.search-button-1 {
    width: 78px;
    height: 70px;
    background-color: #ffa200;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    background-image: url(../../assets/images/search-button.png);
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.search-button-2 {
    display: none;
}

.upload-image-1 {
    background-color: white;
}

.upload-image-2 {
    display: none;
}

.upload-image-rectangle {
    border: 1px dashed gray;
    margin: 15px;
    padding: 15px;
}

.upload-image-file {
    display: none;
    border: 1px solid gray;
    cursor: pointer;
    outline: none;
}

.upload-image-button {
    width: 160px;
    background-image: url(../../assets/images/search_pic.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    margin: 0;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    width: 160px;
    height: 46px;
}

.upload-image-close-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url(../../assets/images/close.png);
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -45px;
}

.user-name {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.user-dropdown {
    width: 16px;
    height: 35px;
    background-image: url(../../assets/images/arrow_1.png);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.login-button {
    width: 60px;
    height: 38px;
    background-color: rgb(51, 51, 51);
    border: 1px solid white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    max-height: 28px;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}
