<div class="row-0">
  <mms-logo style="margin-left: 30px; "></mms-logo>
  <div *ngIf="http.authInfo.isAuthenticated" class="row center-c">
    <div class="row"></div>
    <div *ngIf="!http.isExtifsMode" class="user-name" (click)="popupUserContextMenu()" #userDiv>用户：{{ http.authInfo.username }}</div>
    <div *ngIf="!http.isExtifsMode" class="user-dropdown" (click)="popupUserContextMenu()"></div>
    <div *ngIf="http.isExtifsMode" class="user-name">用户：{{ http.authInfo.username }}</div>
    <div style="margin-right: 30px;"></div>
  </div>
  <div *ngIf="!http.authInfo.isAuthenticated" class="row center-c">
    <div class="row"></div>
    <div class="login-button" (click)="login()">登录</div>
    <div style="margin-right: 30px;"></div>
  </div>
</div>

<div class="row"></div>

<div class="row">
  <div class="row"></div>

  <div class="column">
    <div class="row-0">
      <div class="row"></div>
      <div class="text-1">一键查找图文视频</div>
      <div class="row"></div>
    </div>
    <div class="spacer-2"></div>
    <div class="row-0">
        <div class="row"></div>
        <div class="text-2">方便&bull;快捷&bull;高效</div>
        <div class="row"></div>
    </div>
    <div style="width: 80px; height: 80px;"></div>
    <div class="row-0">
      <input class="row input-1" [(ngModel)]="http.searchInfo.request.text" [ngModelOptions]="{standalone: true}" placeholder="请输入需要查找的文本" #textInput/>
      <button class="img-button-1" (click)="uploadImage()" #imgButton></button>
      <button class="search-button-1" (click)="searchByText()" #searchButton></button>
    </div>
    <div style="width: 100%; height: 268px;">
      <div style="display: block; width: 100%; height: 268px;">
        <div class="row upload-image-2" #uploadImageDiv>
          <div class="column">
            <div class="column center-c upload-image-rectangle" (dragover)="dragoverImage($event)" (drop)="dropImage($event)">
              <div style="width: 33px; height: 33px; "></div>
              <img src="assets/images/search_pic_add.png">
              <div class="text-3">拖拽图片到这里</div>
              <div style="width: 33px; height: 33px; "></div>
            </div>
            <div class="row-0 center-m">
              <input class="upload-image-file" type="file" (change)="filesSelected()" #files/>
              <div class="upload-image-button" (click)="uploadLocalImage()"></div>
            </div>
            <div class="row-0 right-m" style="height: 0; position: relative;">
              <button class="upload-image-close-button" (click)="close()"></button>
              <div class="spacer-2"></div>
            </div>
            <div class="spacer-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"></div>
</div>

<div class="row"></div>
