<div class="row-0">
  <mms-logo style="margin-left: 30px; "></mms-logo>
</div>

<div class="row">
  <div class="row"></div>

  <div class="column">
    <div class="column"></div>

    <div class="row">
      <div class="row"></div>

      <div class="row-0 form-left"></div>

      <div class="row-0 form-right" #form>
        <div style="width: 64px; height: 64px; "></div>
        <div class="column">
          <div class="row"></div>
          <div class="row-0">
            <div class="account-icon"></div>
            <input class="row account-input" type="text" [(ngModel)]="account" [ngModelOptions]="{standalone: true}" placeholder="请输入账号"/>
          </div>
          <div class="spacer-4"></div>
          <div class="row-0">
            <div class="password-icon"></div>
            <input class="row password-input" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="请输入密码" />
          </div>
          <div class="spacer-4"></div>
          <div class="row-0 center-m">
            <input class="verification-code-input" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}" placeholder="请输入验证码" />
            <img class="verification-code-img" (click)="verificationCodeClicked()" #verificationCodeImg>
            <div class="column verification-code-a" (click)="verificationCodeClicked()">换一张</div>
          </div>
          <div class="spacer-4"></div>
          <div class="column login-button" (click)="login()">登录</div>
          <div class="row"></div>
        </div>
        <div style="width: 64px; height: 64px; "></div>
      </div>

      <div class="row"></div>
    </div>

    <div class="column"></div>
  </div>

  <div class="row"></div>
</div>
