:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(../../assets/images/background-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.form-left {
    width: 814px;
    height: 524px;
    background-image: url(../../assets/images/background-login-component.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.form-right {
    width: 436px;
    height: 524px;
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:#bfbfbf;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#bfbfbf;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#bfbfbf;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#bfbfbf;
}

input {
    font-family: "SimSun";
    font-size: 12px;
}

.account-icon {
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../../assets/images/account.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50px;
    width: 56px;
}

.account-input {
    border: 1px solid rgb(229, 229, 229);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.password-icon {
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../../assets/images/password.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50px;
    width: 60px;
}

.password-input {
    border: 1px solid rgb(229, 229, 229);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.verification-code-input {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    min-height: 50px;
    width: 100px;
}

.verification-code-img {
    margin-left: 20px;
    width: 100px;
    cursor: pointer;
}

.verification-code-a {
    color: #279df4;
    cursor: pointer;
    justify-content: flex-end;
    font-family: "SimSun";
    font-size: 12px;
}

.login-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 162, 0);
    color: white;
    min-height: 50px;
    max-height: 50px;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    justify-content: center;
    line-height: 50px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}