<div class="border">
  <div class="row"></div>
  <div *ngIf="(http.searchInfo.request.mediaType === 1) && courseRes" class="content">
    <div *ngIf="!isVideo(courseRes.mediaType) || !hasSecond(courseRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="cover-cdn" [title]="courseRes.courseName" [src]="courseRes.courseCoverCdn" alt="图片不存在" (load)="onLoadImg($event.target)" (click)="gotoCourseDetail(courseRes)">
      <div class="row"></div>
    </div>

    <div *ngIf="isVideo(courseRes.mediaType) && hasSecond(courseRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="res-cover-cdn" [title]="courseRes.courseName" [src]="courseRes.courseCoverCdn" alt="图片不存在" (load)="onLoadImg($event.target)" (click)="gotoCourseDetail(courseRes)">
      <div class="row"></div>
      <div class="res-image-second" (click)="gotoCourseDetail(courseRes)">画面位置&nbsp;{{ courseRes.mediaSecondShow }}</div>
    </div>

    <div class="desc">
      <div class="desc-name">
        <div class="desc-course" (click)="gotoCourseDetail(courseRes)">【课程】</div>
        <div class="desc-course-name" [title]="courseRes.courseName" (click)="gotoCourseDetail(courseRes)">{{ courseRes.courseName }}</div>
      </div>
      <div class="spacer-3"></div>
      <div class="desc-type">
        <div>类型：</div>{{ courseRes.courseType }}
      </div>
      <div class="spacer-3"></div>
      <div class="desc-info">{{ courseRes.courseDescriptionShow }}</div>
    </div>
  </div>

  <div *ngIf="(http.searchInfo.request.mediaType === 2) && resourceRes" class="content">
    <div *ngIf="!isVideo(resourceRes.mediaType) || !hasSecond(resourceRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (load)="onLoadImg($event.target)" (click)="gotoResourceDetail(resourceRes)">
      <div class="row"></div>
    </div>

    <div *ngIf="isVideo(resourceRes.mediaType) && hasSecond(resourceRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="res-cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (load)="onLoadImg2($event.target)" (click)="gotoResourceDetail(resourceRes)">
      <div class="row"></div>
      <div class="res-image-second" (click)="gotoResourceDetail(resourceRes)">画面位置&nbsp;{{ resourceRes.mediaSecondShow }}</div>
    </div>

    <div class="desc">
      <div class="desc-name">
        <div class="desc-resource" (click)="gotoResourceDetail(resourceRes)">【资源】</div>
        <div class="desc-resource-name" [title]="resourceRes.mediaName" (click)="gotoResourceDetail(resourceRes)">{{ resourceRes.mediaName }}</div>
      </div>
      <div class="spacer-3"></div>
      <div class="desc-type">
        <div>类型：</div>{{ resourceRes.mediaType }}
      </div>
      <div class="spacer-3"></div>
      <div class="desc-info">{{ resourceRes.mediaDescriptionShow }}</div>
    </div>
  </div>

  <div *ngIf="(http.searchInfo.request.mediaType === 3) && resourceRes" class="content">
    <div *ngIf="!isVideo(resourceRes.mediaType) || !hasSecond(resourceRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (load)="onLoadImg($event.target)" (click)="gotoResourceDetail(resourceRes)">
      <div class="row"></div>
    </div>

    <div *ngIf="isVideo(resourceRes.mediaType) && hasSecond(resourceRes.mediaSecond)" class="img">
      <div class="row"></div>
      <img class="res-cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (load)="onLoadImg2($event.target)" (click)="gotoResourceDetail(resourceRes)">
      <div class="row"></div>
      <div class="res-image-second" (click)="gotoResourceDetail(resourceRes)">画面位置&nbsp;{{ resourceRes.mediaSecondShow }}</div>
    </div>

    <div class="desc">
      <div class="desc-name">
        <div class="desc-frame" (click)="gotoResourceDetail(resourceRes)">【片段】</div>
        <div class="desc-frame-name" [title]="resourceRes.mediaName" (click)="gotoResourceDetail(resourceRes)">{{ resourceRes.mediaName }}</div>
      </div>
      <div class="spacer-3"></div>
      <div class="desc-type">
        <div>类型：</div>{{ resourceRes.mediaType }}
      </div>
      <div class="spacer-3"></div>
      <div class="desc-info">{{ resourceRes.mediaDescriptionShow }}</div>
    </div>
  </div>
  <div class="row"></div>
</div>
