:host {
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(240, 244, 247);
}

.border {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 15px;
}

.content {
    display: flex;
    flex-flow: row;
    background-color: white;
    min-width: 1200px;
    max-width: 1200px;
    min-height: 155px;
    max-height: 155px;
}

.img {
    margin: 15px;
    margin-right: 7px;
    background-color: black;
    min-width: 140px;
    max-width: 140px;
    min-height: 125px;
    max-height: 125px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.cover-cdn {
    background-color: rgb(215, 215, 215);
    width: 140px;
    height: 125px;
    cursor: pointer;
}

.res-cover-cdn {
    background-color: rgb(215, 215, 215);
    width: 140px;
    height: 105px;
    cursor: pointer;
}

.res-image-second {
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: rgb(215, 215, 215);
    background-color: rgb(52, 52, 52);
    cursor: pointer;
    font-family: -apple-system, "SimSun";
    font-size: 14px;
}

.desc {
    margin: 15px;
    margin-left: 0;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.desc-name {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
}
.desc-course {
    min-width: 70px;
    color: #40AB23;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    cursor: pointer;
}
.desc-course-name {
    color: #232323;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    cursor: pointer;
}
.desc-resource {
    min-width: 70px;
    color: #00A2FF;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    cursor: pointer;
}
.desc-resource-name {
    color: #232323;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    cursor: pointer;
}
.desc-frame {
    cursor: pointer;
    white-space: nowrap;
    color: orange;
}
.desc-frame-name {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #535353;
}

.desc-type {
    margin-left: 8px;
    color: rgb(255, 162, 0);
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "SimSun";
    font-size: 14px;
}
.desc-type > div {
    color: rgb(147, 147, 147);
}

.desc-info {
    margin-left: 8px;
    width: 1007px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    color: #4E4E4e;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
