<div [class]="$window.width >= 1280 ? 'nav-l center-c' : 'nav-s center-c'">
  <div [class]="$window.width >= 1280 ? 'row-0' : 'column'">
    <div  class="row-0 center-c">
      <div class="text">视频名：</div>
      <input class="input" type="text" #mediaNameInput placeholder="请输入视频名称" 
        [(ngModel)]="mediaName" [ngModelOptions]="{standalone: true}" (keydown)="mediaNameKeyDown($event)"
        (input)="mediaNameChange(mediaNameInput.value)"/>
      <div class="spacer-4"></div>
      <div class="text">视频标签：</div>
      <button class="choose-button" (click)="selectTags()">{{selectedTagsText}}</button>
    </div>

    <div *ngIf="$window.width >= 1280" class="spacer-4"></div>
    <div *ngIf="$window.width < 1280" style="height: 8px;"></div>

    <div class="row-0 center-c">
      <div class="text">上架时间：</div>
      <input id="beginTimeInput" class="datetime" type="text"/>
      <div class="text">&nbsp;-&nbsp;</div>
      <input id="endTimeInput" class="datetime" type="text"/>
      <div class="spacer-4"></div>
      <div class="text">状态：</div>
      <select class="select" [(ngModel)]="framesTagged" (change)="framesTaggedChange()" [ngModelOptions]="{standalone: true}">
        <option value="0">全部</option>
        <option value="1">已处理</option>
        <option value="2">未处理</option>
      </select>
    </div>
  </div>

  <div class="spacer-4"></div>
  <div class="search-button center" (click)="searchVideos()">
    <img src="assets/images/icon_search_Small.png">搜索
  </div>
  <div class="spacer-2"></div>
  <div *ngIf="canResetCondition" class="search-button center" (click)="resetCondition()">重置</div>
</div>

<div class="table">
  <div class="column-0">
    <div class="cell-heder mid-cell-heder center-c">序号</div>
    <div *ngFor="let video of videos; index as i" class="cell begin-cell center-c">{{i + (page.current - 1) * perPageTotalCount + 1}}</div>
  </div>
  <div class="column-0">
    <div class="cell-heder mid-cell-heder center-c">视频</div>
    <div *ngFor="let video of videos" class="cell mid-cell center-c">
      <img class="cell-content" style="width: 40px; height: 30px; flex-grow: 0" [src]="video.mediaDefaultFrameCdn"/>
    </div>
  </div>
  <div class="column-2">
    <div class="cell-heder mid-cell-heder center-c">视频名</div>
    <div *ngFor="let video of videos" class="cell mid-cell center-c">
      <div class="cell-content video-name" (click)="gotoVideoDetail(video.mediaUrlId)" title="{{ video.mediaName }}">{{ video.mediaName }}</div>
    </div>
  </div>
  <div class="column-2">
   <div class="cell-heder mid-cell-heder center-c">上架时间</div>
    <div *ngFor="let video of videos" class="cell mid-cell center-c"><div class="cell-content">{{ video.mediaCreateTime }}</div></div>
  </div>
  <div class="video-tag-column">
    <div class="cell-heder mid-cell-heder center-c">视频标签</div>
    <div *ngFor="let video of videos" class="cell mid-cell center-c">
      <div class="row-0" *ngFor="let tag of video.tags.split(','); index as i">
        <span class="tag-item" *ngIf="tag.length > 0 && i < 4" title="{{tag}}">{{tag}}</span>
        <button class="more-button" *ngIf="i == 4" (click)="showMoreTags(video)">更多</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="cell-heder mid-cell-heder center-c">状态</div>
    <div *ngFor="let video of videos; index as i" class="cell mid-cell center-c">
      <div class="cell-content" style="cursor: pointer;" *ngIf="video.framesTagged">
        <img src="assets/images/label_y.png"/>
        <div class="framesTagged-y" (click)="updateVideoStatus(i)">已处理</div>
      </div>
      <div class="cell-content" style="cursor: pointer;" *ngIf="!video.framesTagged">
        <img src="assets/images/label_n.png"/>
        <div class="framesTagged-n" (click)="updateVideoStatus(i)">未处理</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="cell-heder end-cell-heder center-c">操作</div>
    <div *ngFor="let video of videos" class="cell end-cell center-c" (click)="showFrameTags(video)">
      <button class="frame-button">片段标签</button>
    </div>
  </div>
</div>

<div *ngIf="page && (page.end > 0)" class="row"></div>

<mms-pagination *ngIf="page && (page.end > 0)" [page]="page" (currentPageChanged)="currentPageChanged($event)"></mms-pagination>

<div *ngIf="!(page && (page.end > 0))" class="row">
  <div class="row"></div>
  <div class="column-0 center-c">
    <div class="row"></div>
    <img width="159" height="159" src="assets/images/empty-search.png">
    <div style="font-family: 'Microsoft YaHei'; font-size: 16px; color: #3d3d3d; margin-top: 30px; ">抱歉！暂时没有您想要的数据~~</div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>

<div class="dialog-mask" *ngIf="isSelectDlgShow || overviewVideo || isInformationDlgShow"></div>

<mms-select-tags class="select-tags-dlg dialog" *ngIf="isSelectDlgShow" 
      [selectedTags]="selectedTags" [historyTags]="this.searchHistory.getVideoHistoryTags()" (close)="selectTagsDlgClose()" (confirm)="selectedTagsChange($event)"
      [style.left.px]="($window.width - 525)/2" [style.top.px]="($window.height - 398)/2">
</mms-select-tags>

<mms-video-tags-management-more-tags class="more-tags-dlg dialog" *ngIf="overviewVideo" 
      [mediaName]="overviewVideo.mediaName" [tags]="overviewVideo.tags" (close)="moreTagsDlgClose()"
      [style.left.px]="($window.width - 568)/2" [style.top.px]="($window.height - 320)/2">
</mms-video-tags-management-more-tags>

<mms-information-dialog *ngIf="isInformationDlgShow" [text]="informationDlgText" (close)="informationDlgClose()"
[style.left.px]="($window.width - 280)/2" [style.top.px]="($window.height - 160)/2">

</mms-information-dialog>