
<div class="dialog-title-bar">
  <div class="dialog-title-bar-text">批量管理标签</div>
  <div class="row"></div>
  <div class="dialog-title-bar-close" (click)="close.emit()"></div>
</div>
<div class="dialog-content-full">
  <div class="row-0 center-c">
    <div>标签</div>
    <div class="spacer"></div>
    <input class="tags-input" type="text" placeholder="输入标签名，以逗号分隔" #inputTags [(ngModel)]="selectedTags" 
        (input)="inputChanged(inputTags.value, inputTags.selectionEnd)"/>
    <div class="spacer"></div>
    <button class="modify-button" (click)="addFrameTags()">添加标签</button>
    <div class="spacer"></div>
    <button class="modify-button" (click)="removeFrameTags()">删除标签</button>
  </div>
  <div class="line"></div>
  <div class="tags-table">
    <span *ngFor="let tag of historyTags; index as i;">
      <br *ngIf="(i % 5) == 0 && i > 0"/>
      <span class="tag-item" (click)="changeSelected(tag)"
        [ngClass]="{'tag-item-normal': !isSelected(tag), 'tag-item-selected': isSelected(tag)}">
        <span class="tag-content" title="{{tag}}" >{{tag}}</span>
        <!--img class="tag-remove-button" src="assets/images/label_close.png"
              (click)="removeFrameOneTag(tag);"-->
      </span>
    </span>
  </div>
  <div class="line"></div>
  <div class="row">
    <div class="select-button" (click)="allSelection()">全选</div>
    <div class="spacer-2"></div>
    <div class="select-button" (click)="invertSelection()">反选</div>
    <div class="column"></div>  
    <button class="user-info-cancel-button" (click)="close.emit()">关闭</button>
  </div>
</div>

<div class="remind-form auto-scroll-y" *ngIf="searchMatchTags.length > 0" 
  [style.top.px]="inputTags.offsetTop + inputTags.offsetHeight" 
  [style.left.px]="inputTags.offsetLeft" [style.width.px]="inputTags.offsetWidth">
  <div class="remind-item" *ngFor="let tag of searchMatchTags" (click)="updateInputTag(tag)">{{tag}}</div>
</div>

<div class="dialog-mask" *ngIf="isConfirmDlgShow || isInformationDlgShow"></div>

<mms-confirm-dialog *ngIf="isConfirmDlgShow" [title]="confirmDlgTitle" [text]="confirmDlgText" (confirm)="confirmDlgClose($event)"
  [style.left.px]="(500 - 280)/2" [style.top.px]="(378 - 160)/2">
  
</mms-confirm-dialog>

<mms-information-dialog *ngIf="isInformationDlgShow" [text]="informationDlgText" (close)="closeInformationDlg()"
[style.left.px]="(500 - 280)/2" [style.top.px]="(378 - 160)/2">

</mms-information-dialog>