:host {
    position: absolute;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 5;

    font-family: "SimSun";
    font-size: 14px;
}

.tags-input {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    outline: none;
    color: #909090; 

    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.line {
    border: 1px solid #DCDCDC;
    margin-top:15px;
    margin-bottom: 15px;
}

.modify-button {
    display: flex;
    flex-grow: 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 162, 0);
    height: 30px;
    padding-left: 4px; 
    padding-right: 4px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.tags-table {
    height: 140px;
    min-width: 460px;
}

.tag-content {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 70px;
    font-family: "SimSun";
    font-size: 12px;
    color: #363636;
}

.tag-item {
    position: relative;
    display: inline-block;
    background-color: #eeeeee;
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.tag-item-normal {
    border: 1px solid #afafaf;
}

.tag-item-selected {
    background-color: rgb(255,236,204);
    border: 1px solid rgb(255, 162, 0);
}

.tag-remove-button {
    left: 70px;
    top: -7px;
    position: absolute;
    z-index: 8;
}

.remind-form {
    max-height: 150px;
    background-color: white;
    border: 1px solid #DCDCDC;
    position: absolute;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 10;
}

.remind-item {
    padding: 6px;
    cursor: pointer;
}

.remind-item:hover {
    background-color: rgb(255, 162, 0);
}

.select-button {
    color: blue;
    cursor: pointer;
}

input[type="checkbox"] {
    outline: none;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    width: 16px;
    height: 16px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px; 
}

input[type="checkbox"]:checked {
    padding: 2px;
    background-color: rgb(209, 209, 209);
    background-clip: content-box;
}