:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-flow: row;
    height: 110px;
    background-color: rgb(255, 162, 0);
    align-items: center;
    padding-left: 15px;
    padding-right: 30px;
}

.nav-user-name {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.nav-user-dropdown {
    width: 16px;
    height: 40px;
    background-image: url(../../assets/images/arrow_1.png);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu {
    background-color: rgb(51, 51, 51);
    width: 218px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu-item {
    height: 42px;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: #C4C4C4;
}

.menu-item-current {
    background-color: rgb(255, 162, 0);
    color: white;
}


