<div class="row-0 nav">
  <mms-logo></mms-logo>
  <div class="row"></div>
  <div class="nav-user-name" (click)="popupUserContextMenu()" #userDiv>用户：{{ http.authInfo.username }}</div>
  <div class="nav-user-dropdown" (click)="popupUserContextMenu()"></div>
</div>

<div class="row">
  <div class="menu">
    <div class="spacer-5"></div>
    <div class="menu-item center-c menu-item-current" (click)="userManage()" #menuItem1>
      <img class="flex" #menuItem1Icon1>
      <div class="row">&nbsp;用户管理</div>
      <img class="flex" src="assets/images/arrow.png" #menuItem1Icon2>
    </div>
    <div class="menu-item center-c" (click)="logManage()" #menuItem2>
      <img class="flex" #menuItem2Icon1>
      <div class="row">&nbsp;日志管理</div>
      <img class="flex" src="assets/images/arrow.png" #menuItem2Icon2>
    </div>
    <div class="menu-item center-c" (click)="tagManage()" #menuItem3>
      <img class="flex" #menuItem3Icon1>
      <div class="row">&nbsp;视频标签管理</div>
      <img class="flex" src="assets/images/arrow.png" #menuItem3Icon2>
    </div>
  </div>
  <div class="row auto-scroll-y" [ngStyle]="{'width': contentSize.width + 'px', 'height': contentSize.height + 'px' }">
    <router-outlet></router-outlet>
  </div>
</div>