<div class="border">
  <div class="row"></div>

  <div *ngIf="(http.searchInfo.request.mediaType === 1) && courseResList && (courseResList.length > 0)" class="content">
    <div *ngFor="let courseRes of courseResList" class="grid-item">
      <div class="img">
        <img class="cover-cdn" [title]="courseRes.courseName" [src]="courseRes.courseCoverCdn" alt="图片不存在" (click)="gotoCourseDetail(courseRes)">
      </div>
      <div class="desc">
        <div class="desc-name">
          <div class="desc-course" (click)="gotoCourseDetail(courseRes)">【课程】</div>
          <div class="desc-course-name" [title]="courseRes.courseName" (click)="gotoCourseDetail(courseRes)">{{ courseRes.courseName }}</div>
        </div>
        <div class="spacer-2"></div>
        <div class="row-0">
          <div class="desc-type">
            <div>类型：</div>{{ courseRes.courseType }}
          </div>
          <div class="row"></div>
          <div *ngIf="isVideo(courseRes.mediaType) && hasSecond(courseRes.mediaSecond)" class="desc-second">画面位置&nbsp;&nbsp;{{ courseRes.mediaSecondShow }}</div>
        </div>
        <div class="spacer-2"></div>
      </div>
    </div>
  </div>

  <div *ngIf="(http.searchInfo.request.mediaType === 2) && resourceResList && (resourceResList.length > 0)" class="content">
    <div *ngFor="let resourceRes of resourceResList" class="grid-item">
      <div class="img">
        <img class="cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (click)="gotoResourceDetail(resourceRes)">
      </div>
      <div class="desc">
        <div class="desc-name">
          <div class="desc-resource" (click)="gotoResourceDetail(resourceRes)">【资源】</div>
          <div class="desc-resource-name" [title]="resourceRes.mediaName" (click)="gotoResourceDetail(resourceRes)">{{ resourceRes.mediaName }}</div>
        </div>
        <div class="spacer-2"></div>
        <div class="row-0">
          <div class="desc-type">
            <div>类型：</div>{{ resourceRes.mediaType }}
          </div>
          <div class="row"></div>
          <div *ngIf="isVideo(resourceRes.mediaType) && hasSecond(resourceRes.mediaSecond)" class="desc-second">画面位置&nbsp;&nbsp;{{ resourceRes.mediaSecondShow }}</div>
        </div>
        <div class="spacer-2"></div>
      </div>
    </div>
  </div>

  <div *ngIf="(http.searchInfo.request.mediaType === 3) && resourceResList && (resourceResList.length > 0)" class="content">
    <div *ngFor="let resourceRes of resourceResList" class="grid-item">
      <div class="img">
        <img class="cover-cdn" [title]="resourceRes.mediaName" [src]="resourceRes.imageCdn" alt="图片不存在" (click)="gotoResourceDetail(resourceRes)">
      </div>
      <div class="desc">
        <div class="desc-name">
          <div class="desc-frame" (click)="gotoResourceDetail(resourceRes)">【片段】</div>
          <div class="desc-frame-name" [title]="resourceRes.mediaName" (click)="gotoResourceDetail(resourceRes)">{{ resourceRes.mediaName }}</div>
        </div>
        <div class="spacer-2"></div>
        <div class="row-0">
          <div class="desc-type">
            <div>类型：</div>{{ resourceRes.mediaType }}
          </div>
          <div class="row"></div>
          <div *ngIf="isVideo(resourceRes.mediaType) && hasSecond(resourceRes.mediaSecond)" class="desc-second">画面位置&nbsp;&nbsp;{{ resourceRes.mediaSecondShow }}</div>
        </div>
        <div class="spacer-2"></div>
      </div>
    </div>
  </div>

  <div class="row"></div>
</div>
