:host {
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(240, 244, 247);
}

.border {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 10px;

}

.content {
    display: flex;
    flex-flow: row;
    min-width: 1200px;
    max-width: 1200px;
    min-height: 300px;
}

.grid-item {
    margin-right: 10px;
    min-width: 292.5px;
    max-width: 292.5px;
    background-color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.img {
    margin-bottom: 20px;
    background-color: rgb(215, 215, 215);
    min-width: 292.5px;
    max-width: 292.5px;
    min-height: 219.375px;
    max-height: 219.375px;
}

.cover-cdn {
    background-color: rgb(215, 215, 215);
    width: 292.5px;
    height: 219.375px;
    cursor: pointer;
}

.desc {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: column;
}

.desc-name {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    font-family: "SimSun";
    font-size: 14px;
}
.desc-course {
    cursor: pointer;
    white-space: nowrap;
    color: #40AB23;
}
.desc-course-name {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #535353;
}
.desc-resource {
    cursor: pointer;
    white-space: nowrap;
    color: #00A2FF;
}
.desc-resource-name {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #535353;
}
.desc-frame {
    cursor: pointer;
    white-space: nowrap;
    color: orange;
}
.desc-frame-name {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #535353;
}

.desc-type {
    color: rgb(255, 162, 0);
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "SimSun";
    font-size: 14px;
}
.desc-type > div {
    color: rgb(147, 147, 147);
}
.desc-second {
    font-family: -apple-system, "SimSun";
    font-size: 14px;
    color: #939393;
}
