
<div class="dialog-title-bar">
    <div class="dialog-title-bar-text">选择标签</div>
    <div class="row"></div>
    <div class="dialog-title-bar-close" (click)="close.emit()"></div>
</div>
<div class="dialog-content-full">
  <div class="row">
    <div style="line-height: 42px;">标签</div>
    <div class="spacer-1"></div>
    <input class="tags-input" type="text" placeholder="输入标签名，以逗号分隔" #inputTags [(ngModel)]="selectedTags" 
          (input)="inputChanged(inputTags.value, inputTags.selectionEnd)"/>
  </div>
  <div class="line"></div>
  <div class="tags-table">
    <span *ngFor="let tagItem of historyTags; index as i;">
      <br *ngIf="(i % 5) == 0 && i > 0"/>
      <button class="tag-item" [ngClass]="{'tag-item-selected': isSelected(tagItem), 'tag-item-normal': !isSelected(tagItem)}" 
          (click)="changeSelected(tagItem)" title="{{tagItem}}">{{tagItem}}</button>
    </span>
  </div>
  <div class="line"></div>
  <div class="row center-c">
    <div class="select-button" (click)="allSelection()">全选</div>
    <div class="spacer-2"></div>
    <div class="select-button" (click)="invertSelection()">反选</div>
    <div class="spacer-4"></div>
     <div class="column"></div> 
     <button class="user-info-ok-button" (click)="confirmClick()">确定</button>
     <div class="spacer-2"></div>
     <button class="user-info-cancel-button" (click)="close.emit()">关闭</button>
  </div>
</div>

<div class="remind-form auto-scroll-y" *ngIf="searchMatchTags.length > 0" 
        [style.top.px]="inputTags.offsetTop + inputTags.offsetHeight" 
        [style.left.px]="inputTags.offsetLeft" [style.width.px]="inputTags.offsetWidth">
  <div class="remind-item" *ngFor="let tag of searchMatchTags" (click)="$event.stopPropagation(); updateInputTag(tag)">{{tag}}</div>
</div>

<div class="dialog-mask" *ngIf="isInformationDlgShow"></div>
<mms-information-dialog *ngIf="isInformationDlgShow" [text]="informationDlgText" (close)="closeInformationDlg()"
[style.left.px]="(525 - 280)/2" [style.top.px]="(398 - 160)/2">

</mms-information-dialog>