mms-pagination-button {
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
