<div [class]="$window.width >= 1580 ? 'nav-l center-c' : 'nav-s center-c'">
  <div [class]="$window.width >= 1580 ? 'row' : 'column'">
    <div  class="row-0 center-c">
      <div class="text">时间范围：</div>
      <input id="beginTimeInput" type="text" time="00:00:00" />
      <div class="text">&nbsp;-&nbsp;</div>
      <input id="endTimeInput" type="text" time="23:59:59" />
    </div>

    <div *ngIf="$window.width >= 1580" class="spacer-4"></div>
    <div *ngIf="$window.width < 1580" style="height: 8px;"></div>

    <div class="row-0 center-c">
      <div class="text">日志级别：</div>
      <select class="select" [(ngModel)]="level" [ngModelOptions]="{standalone: true}">
        <option value="0">全部</option>
        <option value="1">严重错误</option>
        <option value="2">一般错误</option>
        <option value="3">警告</option>
        <option value="4">消息</option>
      </select>
      <div class="spacer-4"></div>

      <div class="text">操作类型：</div>
      <select class="select" [(ngModel)]="operType" [ngModelOptions]="{standalone: true}">
        <option value="0">全部</option>
        <option value="1">添加</option>
        <option value="2">删除</option>
        <option value="3">修改</option>
        <option value="4">查询</option>
        <option value="5">上传</option>
        <option value="6">下载</option>
        <option value="7">登录</option>
        <option value="8">登出</option>
        <option value="9">其它</option>
      </select>
      <div class="spacer-4"></div>

      <div class="text">操作员：</div>
      <input class="input" type="text" placeholder="请输入操作员" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
      <div class="spacer-4"></div>
      
      <div class="text">日志内容：</div>
      <input class="input" type="text" placeholder="请输入日志内容"  [(ngModel)]="content" [ngModelOptions]="{standalone: true}"/>
    </div>
  </div>

  <div class="row"></div>

  <div class="search-button center" (click)="searchLog()">
    <img src="assets/images/icon_search_Small.png">搜索
  </div>
</div>

<div class="table">
  <div class="column">
    <div class="cell-heder begin-cell-heder center-c">日志级别</div>
    <div *ngFor="let log of logs" class="cell begin-cell center-c"><div class="cell-content">{{ log.level | logLevelFormat }}</div></div>
  </div>
  <div class="column">
    <div class="cell-heder mid-cell-heder center-c">操作类型</div>
    <div *ngFor="let log of logs" class="cell mid-cell center-c"><div class="cell-content">{{ log.operType | logOperTypeFormat }}</div></div>
  </div>
  <div class="column">
    <div class="cell-heder mid-cell-heder center-c">操作员</div>
    <div *ngFor="let log of logs" class="cell mid-cell center-c"><div class="cell-content">{{ log.username }}</div></div>
  </div>
  <div class="column">
   <div class="cell-heder mid-cell-heder center-c">操作时间</div>
    <div *ngFor="let log of logs" class="cell mid-cell center-c"><div class="cell-content">{{ log.time }}</div></div>
  </div>
  <div class="column-4">
    <div class="cell-heder mid-cell-heder center-c">日志内容</div>
    <div *ngFor="let log of logs" class="cell mid-cell center-c"><div class="cell-content">{{ log.content }}</div></div>
  </div>
  <div class="column">
    <div class="cell-heder end-cell-heder center-c">客户端IP地址</div>
    <div *ngFor="let log of logs" class="cell end-cell center-c"><div class="cell-content">{{ log.ipaddr }}</div></div>
  </div>
</div>

<div *ngIf="page && (page.end > 0)" class="row"></div>

<mms-pagination *ngIf="page && (page.end > 0)" [page]="page" (currentPageChanged)="currentPageChanged($event)"></mms-pagination>

<div *ngIf="!(page && (page.end > 0))" class="row">
  <div class="row"></div>
  <div class="column-0 center-c">
    <div class="row"></div>
    <img width="159" height="159" src="assets/images/empty-search.png">
    <div style="font-family: 'Microsoft YaHei'; font-size: 16px; color: #3d3d3d; margin-top: 30px; ">抱歉！暂时没有您想要的数据~~</div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>
