/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-m {
    justify-content: center;
}

.right-m {
    justify-content: flex-end;
}

.center-c {
    align-items: center;
}

.right-c {
    align-items: flex-end;
}

.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.wrap {
    flex-wrap: wrap;
}

.scroll {
    overflow: scroll;
}
.scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}

.auto-scroll {
    overflow: auto;
}
.auto-scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.auto-scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}
.no-scroll {
    overflow: hidden;
}
.single-line {
    text-overflow: ellipsis;
    overflow: hidden;
}

.row {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}
.row-max {
    display: flex;
    flex-flow: row;
    flex-grow: 99999999;
    flex-shrink: 99999999;
}
.row-0 {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
}
.row-1 {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
}
.row-2 {
    display: flex;
    flex-flow: row;
    flex-grow: 2;
    flex-shrink: 2;
}
.row-3 {
    display: flex;
    flex-flow: row;
    flex-grow: 3;
    flex-shrink: 3;
}
.row-4 {
    display: flex;
    flex-flow: row;
    flex-grow: 4;
    flex-shrink: 4;
}
.column {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
}
.column-0 {
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}
.column-1 {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
}
.column-2 {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
    flex-shrink: 2;
}
.column-3 {
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    flex-shrink: 3;
}
.column-4 {
    display: flex;
    flex-flow: column;
    flex-grow: 4;
    flex-shrink: 4;
}
.column-5 {
    display: flex;
    flex-flow: column;
    flex-grow: 5;
    flex-shrink: 5;
}
.column-6 {
    display: flex;
    flex-flow: column;
    flex-grow: 6;
    flex-shrink: 6;
}
.column-7 {
    display: flex;
    flex-flow: column;
    flex-grow: 7;
    flex-shrink: 7;
}
.column-8 {
    display: flex;
    flex-flow: column;
    flex-grow: 8;
    flex-shrink: 8;
}
.column-max {
    display: flex;
    flex-flow: column;
    flex-grow: 99999999;
    flex-shrink: 99999999;
}
.spacer {
    display: block;
    width: 6px;
    height: 6px;
}
.spacer-1 {
    display: block;
    width: 6px;
    height: 6px;
}
.spacer-2 {
    display: block;
    width: 12px;
    height: 12px;
}
.spacer-3 {
    display: block;
    width: 18px;
    height: 18px;
}
.spacer-4 {
    display: block;
    width: 24px;
    height: 24px;
}
.spacer-5 {
    display: block;
    width: 30px;
    height: 30px;
}
.spacer-6 {
    display: block;
    width: 36px;
    height: 36px;
}
.spacer-7 {
    display: block;
    width: 42px;
    height: 42px;
}
.spacer-8 {
    display: block;
    width: 48px;
    height: 48px;
}
.upload-image-dialog {
    background-color: white;
    border: none;
    border: 1px solid rgb(255, 162, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}
.upload-image-dialog-rectangle {
    border: 1px dashed gray;
    margin: 15px;
    padding: 15px;
}
.upload-image-file {
    display: none;
    border: 1px solid gray;
    cursor: pointer;
    outline: none;
}
.upload-image-button {
    background-image: url(./assets/images/search_pic.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    margin: 0;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    width: 160px;
    height: 46px;
}
.upload-image-close-button {
    width: 46px;
    height: 46px;
    border: none;
    background-color: white;
    background-image: url(./assets/images/close.png);
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -46px;
}
.display-none {
    display: none;
}
.video-result-filter-type {
    font-family: "SimSun";
    font-size: 14px;
    color: #535353;
    cursor: pointer;
}
.video-result-filter-current-type {
    color: rgb(255, 161, 1);
}
.dialog-mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
.dialog {
    position: absolute;
    left: 0;
    top: 0;
}
.dialog-title-bar {
    background-color: rgb(44, 44, 44);
    min-height: 48px;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.dialog-title-bar-text {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #EDEDED;
    font-weight: bold;
}
.dialog-title-bar-close {
    background-color: rgb(44, 44, 44);
    background-image: url(./assets/images/close.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.dialog-content {
    background-color: white;
    min-height: 160px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.dialog-content-min {
    background-color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.dialog-content-full {
    background-color: white;
    min-height: 160px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.dialog-buttons-bar {
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 20px;
}
.user-context-menu {
    background-color: rgb(44, 44, 44);
    min-width: 100px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.user-context-menu-item {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: #CBCBCB;
}
.user-context-menu-item:hover {
    color: white;
    background-color: rgb(51, 51, 51);
}

.user-info-dialog {
    min-width: 420px;
    min-height: 405px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: white;
}
.user-info-delete-dialog {
    min-width: 420px;
    min-height: 120px;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: white;
}
.user-info-text-label {
    font-family: "SimSun";
    font-size: 14px;
    color: #4D4D4D;
}
.user-info-text-input {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 260px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    outline: none;
}
.user-info-text-input-readonly {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 260px;
    border: none;
    outline: none;
}
.user-info-text-textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    width: 260px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    outline: none;
}
.user-info-ok-button {
    border-radius: 5px;
    background-color: rgb(255, 162, 0);
    height: 34px;
    width: 80px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 12px;
    color: white;
    border:none;
}

.user-info-cancel-button {
    border-radius: 5px;
    background-color: rgb(131, 142, 162);
    height: 34px;
    width: 80px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 12px;
    color: white;
    border:none;
}

.tooltip {
    position: absolute;
    padding: 10px;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
    background-color: rgb(44, 44, 44);
}

input {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

button {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
