
mms-pagination {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgb(240, 244, 247);
    min-height: 70px;
}
mms-pagination-button {
    background-color: white;
    width: 46px;
    height: 39px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #373737;
}

.pagination-button-prev {
    width: 66px;
    height: 39px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pagination-button-next {
    width: 66px;
    height: 39px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pagination-button-select {
    color: white;
    background-color: rgb(255, 162, 0);
}
.pagination-button-hide {
    display: none;
}
