<mms-pagination-button class="pagination-button-prev" (click)="buttonPrev()">上一页</mms-pagination-button>
<mms-pagination-button [class]="buttonClass1" (click)="buttonNum(1)">{{ buttonText1 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass2" (click)="buttonNum(2)">{{ buttonText2 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass3" (click)="buttonNum(3)">{{ buttonText3 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass4" (click)="buttonNum(4)">{{ buttonText4 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass5" (click)="buttonNum(5)">{{ buttonText5 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass6" (click)="buttonNum(6)">{{ buttonText6 }}</mms-pagination-button>
<mms-pagination-button [class]="buttonClass7" (click)="buttonNum(7)">{{ buttonText7 }}</mms-pagination-button>
<mms-pagination-button class="pagination-button-next" (click)="buttonNext()">下一页</mms-pagination-button>
