<div class="dialog user-info-delete-dialog">
  <div class="dialog-title-bar">
    <div class="dialog-title-bar-text">删除用户</div>
    <div class="row"></div>
    <div class="dialog-title-bar-close" (click)="closeDialog()"></div>
  </div>
  <div class="dialog-content-min">
    <div class="row">
      确定要删除账号[{{ getAccount() }}]吗？
    </div>
  </div>
  <div class="dialog-buttons-bar">
    <div class="row"></div>
    <div class="user-info-ok-button" (click)="ok()">确定</div>
    <div class="spacer-3"></div>
    <div class="user-info-cancel-button" (click)="cancel()">取消</div>
  </div>
</div>


