<div class="dialog user-info-dialog">
  <div class="dialog-title-bar">
    <div class="dialog-title-bar-text">修改用户</div>
    <div class="row"></div>
    <div class="dialog-title-bar-close" (click)="closeDialog()"></div>
  </div>
  <div class="dialog-content">
    <div class="row center-c right-m">
      <div class="user-info-text-label">账号：</div>
      <input class="user-info-text-input-readonly" readonly="true" [(ngModel)]="params.newUser.account" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="spacer-3"></div>
    <div class="row center-c right-m">
      <div class="user-info-text-label">用户名：</div>
      <input class="user-info-text-input"  placeholder="请输入用户名" [(ngModel)]="params.newUser.username" [ngModelOptions]="{standalone: true}" mms-validator [validator]="usernameValidate()"/>
    </div>
    <div class="spacer-3"></div>
    <div class="row center-c right-m">
      <div class="user-info-text-label">重置密码：</div>
      <div style="width: 292px;">
        <input type="checkbox" style="width: 16px; height: 16px;" [(ngModel)]="params.newUser.resetPassword" [ngModelOptions]="{standalone: true}"/>
      </div>
    </div>
    <div class="spacer-3"></div>
    <div class="row center-c right-m">
      <div class="user-info-text-label">描述：</div>
      <textarea class="user-info-text-textarea"  placeholder="请输入描述" [(ngModel)]="params.newUser.description" [ngModelOptions]="{standalone: true}" mms-validator [validator]="descriptionValidate()"></textarea>
    </div>
  </div>
  <div style="height: 1px; background-color: rgb(229, 229, 229);"></div>
  <div class="dialog-buttons-bar">
    <div class="row"></div>
    <div class="user-info-ok-button" (click)="ok()">保存</div>
    <div class="spacer-3"></div>
    <div class="user-info-cancel-button" (click)="cancel()">取消</div>
  </div>
</div>
