:host {
    background-color: rgb(240, 244, 247);
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;

    font-family: -apple-system, "SimSun";
    font-size: 14px;
}

.nav {
    background-color: white;
    height: 86px;
    display: flex;
    display: row;
    flex-grow: 1;
    flex-shrink: 1;
    margin:10px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:#909090;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#909090;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#909090;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#909090;
}

.input {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    height: 30px;
    width: 110px;
    outline: none;
    font-size: 12px;
}

.time-input {
    height: 30px;
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12px;
}

.search-button {
    border: none;
    border-radius: 5px;
    height: 30px;
    min-width: 72px;
    background-color: rgb(51, 51, 51);
    color: white;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    font-size: 12px;
}

.select-button {
    color: blue;
    cursor: pointer;
}

.content {
    display: flex;
    flex-flow: row;
    min-height: 374px;
    justify-content: space-between;
}

.grid-item {
    border: 2px solid rgb(240, 244, 247);
    min-width: 292.5px;
    max-width: 292.5px;
    min-height: 374px;
    max-height: 374px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.border-grid-item {
    border: 2px solid #f8cc00;
}

.grid-item-placeholder {
    min-width: 292.5px;
    max-width: 292.5px;
    min-height: 374px;
    max-height: 374px;
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

.img {
    margin-bottom: 10px;
    background-color: rgb(215, 215, 215);
    min-width: 292.5px;
    max-width: 292.5px;
    min-height: 219.375px;
    max-height: 219.375px;
}

.cover-cdn {
    color: #363636;
    background-color: rgb(215, 215, 215);
    width: 292.5px;
    height: 219.375px;
}

.media-name {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px; 
    cursor: pointer;
}

.framesTagged-button {
    cursor: pointer;
    height: 22px;
    color:white;
    border: 0px;
}

.framesTagged-n {
    background-color: #e63232;
}

.framesTagged-y {
    background-color: #32b16c;
}

.back-button {
    height: 100%;
    width: 40px;
    background-color: gray;
    cursor: pointer;
    color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

.choose-button {
    background-color: #f1f1f1;
    border: 1px solid #e6e8e9;
    border-radius: 5px;
    height: 30px;
    min-width: 110px;
    cursor: pointer;
}

.batch-button {
    height: 35px;
    background-color: white; 
    border: 1px solid #e6e8e9;
    border-radius: 5px;
    padding-left: 15px; 
    padding-right: 15px;
    cursor: pointer;
}

.tag-remove-button {
    left: 53px;
    top: -7px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.tag-content {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    font-family: "SimSun";
    font-size: 12px;
    color: #363636;
}

.tag-item {
    position: relative;
    display: inline-flex;
    background-color: #eeeeee;
    border: 1px solid #afafaf;
    margin-bottom: 5px;  
    height: 25px;
    line-height: 25px; 
    min-width: 60px;
    max-width: 60px;
}

.more-button {
    position: relative;
    display: inline-flex;
    color: #ffa200;
    border: 1px solid #ffa200;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
}

.check-box {
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    outline: none;
    width: 9px;
    height: 9px;
    padding: 2px;
    border: 1px solid gray;
    background-color: white;
}

.check-box-checked {
    background-clip: content-box;
    background-color: #f8cc00;
    border: 1px solid #f8cc00;
}

.default-frame {
    width: 24px;
    height: 23px;
    background-image: url('../../assets/images/label_star_n.png');
    cursor: pointer;
}

.default-frame-checked {
    background-image: url('../../assets/images/label_star_s.png');
}

.line {
    display: flex;
    flex-grow: 0;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overview-tags-button {
    display: flex;
    flex-grow: 0;
    border-radius: 5px;
    border: 1px solid rgb(255, 162, 0);
    background-color: rgb(255, 162, 0);
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
}
