<div class="row-0 center-c" style="margin-top:15px">
  <div class="media-name" (click)="gotoVideoDetail()">{{frameTagSearchReply.video.mediaName}}</div>
  <button class="framesTagged-button framesTagged-y" *ngIf="frameTagSearchReply.video.framesTagged" 
      (click)="updateVideoStatus()">已处理</button>
  <button class="framesTagged-button framesTagged-n" *ngIf="!frameTagSearchReply.video.framesTagged" 
      (click)="updateVideoStatus()">未处理</button>
</div>
<div class="row-0">
  <div class="nav center-c">
    <div class="text" style="margin-left: 10px">时间轴:&nbsp;</div>
    <mms-input-time class="time-input" [time]="beginTime" (update)="beginTimeUpdate($event)"></mms-input-time>
    <div class="text">&nbsp;-&nbsp;</div>
    <mms-input-time class="time-input" [time]="endTime" (update)="endTimeUpdate($event)"></mms-input-time>
    <div class="spacer-4"></div>

    <div class="text">片段标签:&nbsp;</div>
    <button class="choose-button" (click)="selectTags()">{{selectedTagsText}}</button>

    <div class="spacer-4"></div>
    <div class="search-button center" (click)="searchFramesByInput()">
      <img src="assets/images/icon_search_Small.png">搜索
    </div>
    <div class="spacer-2"></div>
    <div *ngIf="canResetCondition" class="search-button center" (click)="resetCondition()">重置</div>
    <div class="column"></div>
    <div class="back-button" (click)="goBack()">
        <img style="width: 10px; height: 12px;" src="assets/images/back.png"/>
        <div>返回</div>
    </div>
  </div>
</div>
<div class="row-0 center-c" style="margin-left:10px">
  <div class="select-button" (click)="allSelection()">全选</div>
  <div class="spacer-2"></div>
  <div class="select-button" (click)="invertSelection()">反选</div>
  <div class="spacer-4"></div>
  <button class="batch-button" (click)="batchTagsDlgOpen()">管理选中片段标签</button>
</div>
<div class="column-0" style="margin:10px;background-color: rgb(240, 244, 247);">
  <div class="content" *ngFor="let rowFrames of showFrameTags; index as i">
    <div class="grid-item" *ngFor="let frameItem of rowFrames; index as j" [ngClass]="{'border-grid-item': isFrameSeleted(frameItem)}" 
                          (click)="changeFrameSeleted(frameItem)">
      <div class="img row-0">
        <img class="cover-cdn" [src]="frameItem.imageCdn" alt="图片不存在">
      </div>
      <div class="column">
        <div class="row-0 center-c" style="color:#939393; margin-left:15px; margin-bottom: 10px" >
          <div>时间轴: {{secondToTime(frameItem.mediaSecond)}}</div>
        </div>
        <div style="min-height: 70px; max-height: 80px; margin-left: 10px;">
          <span class="center-c" *ngFor="let tag of frameItem.tagArray; index as tagIndex; last as isLast">
            <br *ngIf="tagIndex == 4 || tagIndex == 8">
            <span class="tag-item" *ngIf="tagIndex < 7 || (tagIndex == 7 && isLast)">
              <span class="tag-content " title="{{tag}}">{{tag}}</span>
              <img class="tag-remove-button" src="assets/images/label_close.png"
                  (click)="$event.stopPropagation(); removeFrameOneTag(frameItem.imageId, tag);"/>
            </span>
            <span class="more-button" *ngIf="tagIndex == 7 && !isLast" (click)="$event.stopPropagation(); overviewTagsDlgOpen(frameItem)">更多</span>
          </span>  
        </div>
        <div class="line"></div>
        <div class="row" style="margin: 10px; margin-top: 0px; align-items: center">
          <div class="check-box" [ngClass]="{'check-box-checked':isFrameSeleted(frameItem)}" (click)="$event.stopPropagation(); changeFrameSeleted(frameItem)"></div>
          <div class="column-1"></div>
          <div class="default-frame" [ngClass]="{'default-frame-checked':isDefaultFrame(i,j)}" (click)="$event.stopPropagation(); updateDefaultFrame(i,j)"></div>
          <div class="spacer-2"></div>
          <button class="overview-tags-button" (click)="$event.stopPropagation(); overviewTagsDlgOpen(frameItem)">管理片段标签</button>
        </div>
      </div>
    </div>
    <div class="grid-item-placeholder" *ngIf="rowFrames.length <= 1"></div>
    <div class="grid-item-placeholder" *ngIf="rowFrames.length <= 2"></div>
    <div class="grid-item-placeholder" *ngIf="rowFrames.length <= 3"></div>
  </div>
  <div class="row"></div>
</div>

<div *ngIf="showFrameTags.length == 0" class="row">
  <div class="row"></div>
  <div class="column-0 center-c">
    <div class="row"></div>
    <img width="159" height="159" src="assets/images/empty-search.png">
    <div style="font-family: 'Microsoft YaHei'; font-size: 16px; color: #3d3d3d; margin-top: 30px; ">抱歉！暂时没有您想要的数据~~</div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>

<div class="dialog-mask" *ngIf="isSelectDlgShow || overviewTagsFrame || selectedFrames.length > 0 || isConfirmDlgShow || isInformationDlgShow"></div>

<mms-select-tags class="more-tags-dlg dialog" *ngIf="isSelectDlgShow" 
      [selectedTags]="selectedTags" [historyTags]="this.searchHistory.getFrameHistoryTags()" (close)="selectTagsDlgClose()" (confirm)="selectedTagsChange($event)"
      [style.left.px]="($window.width - 525)/2" [style.top.px]="($window.height - 398)/2">
</mms-select-tags>

<mms-frame-tags-management-overview-tags class="overview-tags-dlg dialog" *ngIf="overviewTagsFrame" 
      [videoFrame]="frameTagSearchReply" [frame]="overviewTagsFrame" 
      (close)="overviewTagsDlgClose()" (update)="searchFramesByHistory()"
      [style.left.px]="($window.width - 502)/2" [style.top.px]="($window.height - 540)/2"
      >
</mms-frame-tags-management-overview-tags>

<mms-frame-tags-management-batch-tags class="batch-tags-dlg dialog" *ngIf="selectedFrames.length > 0" 
      [mediaId]="frameTagSearchReply.video.mediaId" [selectedFrames]="selectedFrames" 
      (close)="batchTagsDlgClose()" (update)="searchFramesByHistory()"
      [style.left.px]="($window.width - 500)/2" [style.top.px]="($window.height - 350)/2">
</mms-frame-tags-management-batch-tags>

<mms-confirm-dialog *ngIf="isConfirmDlgShow" [title]="confirmDlgTittle" [text]="confirmDlgText" (confirm)="confirmDlgClose($event)"
  [style.left.px]="($window.width - 280)/2" [style.top.px]="($window.height - 160)/2">

</mms-confirm-dialog>

<mms-information-dialog *ngIf="isInformationDlgShow" [text]="informationDlgText" (close)="closeInformationDlg()"
[style.left.px]="($window.width - 280)/2" [style.top.px]="($window.height - 160)/2">

</mms-information-dialog>
  
