:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(../../assets/images/background-modify-password.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.nav-1-bkg {
    background-color: rgb(55, 55, 55);
}

.nav-1 {
    color: white;
    width: 1200px;
    display: flex;
    flex-flow: row;
    flex-flow: 0;
    flex-shrink: 0;
}

.nav-1-user-name {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.nav-1-user-dropdown {
    width: 16px;
    height: 40px;
    background-image: url(../../assets/images/arrow_1.png);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav-2-bkg {
    background-color: rgb(255, 162, 0);
}

.nav-2 {
    display: flex;
    flex-flow: column;
    width: 1200px;
    height: 110px;
}

.work-area {
    background-color: white;
    min-width: 1200px;
    min-height: 500px;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.modify-password-title {
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-family: "Microsoft YaHei";
    font-size: 30px;
    font-weight: bold;
    color: #676767;
}

.modify-password-icon {
    min-width: 600px;
    background-image: url(../../assets/images/modify-password-icon.png);
    background-size: 296px 346px;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-label {
    font-family: "SimSun";
    font-size: 14px;
    color: #676767;
}

.text-input {
    padding-left: 15px;
    height: 40px;
    width: 260px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    outline: none;
}

.save-button {
    border-radius: 5px;
    background-color: rgb(255, 162, 0);
    height: 40px;
    width: 126.5px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.reset-button {
    border-radius: 5px;
    background-color: rgb(131, 142, 162);
    height: 40px;
    width: 126.5px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}