<div class="row-0 nav-1-bkg">
  <div class="row"></div>
  <div class="nav-1">
    <div class="row"></div>
    <div class="nav-1-user-name" (click)="popupUserContextMenu()" #userDiv>用户：{{ http.authInfo.username }}</div>
    <div class="nav-1-user-dropdown" (click)="popupUserContextMenu()"></div>
  </div>
  <div class="row"></div>
</div>

<div class="row-0 nav-2-bkg">
  <div class="row"></div>
  <div class="nav-2">
    <div class="row"></div>
    <div class="row-0">
      <mms-logo></mms-logo>
      <div class="row"></div>
    </div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>

<div class="column center">
  <div class="row-1"></div>
  <div class="row-0">
    <div class="row"></div>
    <div class="work-area">
      <div class="column">
        <div class="row-0">
          <div class="modify-password-title">修改密码</div>
        </div>
        <div class="column-0" style="margin-left: 90px; margin-right: 40px; ">
          <div class="row center-c right-m">
            <div class="text-label">用户名：</div>
            <input type="text" class="text-input" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" mms-validator [validator]="usernameValidate()"/>
          </div>
          <div class="spacer-4"></div>
          <div class="row center-c right-m">
            <div class="text-label">原始密码：</div>
            <input type="password" class="text-input" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" mms-validator [validator]="oldPasswordValidate()"/>
          </div>
          <div class="spacer-4"></div>
          <div class="row center-c right-m">
            <div class="text-label">新密码：</div>
            <input type="password" class="text-input"  [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" mms-validator [validator]="newPasswordValidate()"/>
          </div>
          <div class="spacer-4"></div>
          <div class="row center-c right-m">
            <div class="text-label">确认密码：</div>
            <input type="password" class="text-input"  [(ngModel)]="newPasswordConfirm" [ngModelOptions]="{standalone: true}" mms-validator [validator]="newPasswordConfirmValidate()"/>
          </div>
          <div class="spacer-4"></div>
          <div class="row center-c right-m">
            <div class="save-button" (click)="save()">保存</div>
            <div class="spacer-4"></div>
            <div class="reset-button" (click)="reset()">重置</div>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <div class="row modify-password-icon">
      </div>
    </div>
    <div class="row"></div>
  </div>
  <div class="row-2"></div>
</div>
