<div class="dialog-title-bar">
  <div class="dialog-title-bar-text">{{title}}</div>
  <div class="row"></div>
  <div class="dialog-title-bar-close" (click)="close.emit()"></div>
</div>
<div class="inf-dialog-content">
    <div class="row center">{{text}}</div>
    <div class="row center" style="margin-top: 15px">
      <div class="user-info-ok-button" (click)="close.emit()">确定</div>
    </div>
  </div>