:host {
    display: flex;
    flex-flow: column;
    position: absolute;
    min-width: 280px;
    z-index: 100;
}

.inf-dialog-content {
    background-color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}