<div class="dialog-title-bar">
  <div class="dialog-title-bar-text">{{title}}</div>
  <div class="row"></div>
  <div class="dialog-title-bar-close" (click)="confirm.emit(false)"></div>
</div>
<div class="confirm-dialog-content">
  <div class="row center">{{text}}</div>
  <div class="row center" style="margin-top: 15px">
    <div class="user-info-ok-button" style="margin-right: 20px; " (click)="confirm.emit(true)">确定</div>
    <div class="user-info-cancel-button" (click)="confirm.emit(false)">取消</div>
  </div>
</div>
