<input type="text" maxlength="2" #hourInput [(ngModel)]="timeArr[0]" placeholder="--" onpaste="return false;" 
    (keydown)="keyDownEvent($event, 0)" (keyup)="keyUpEvent(0)" (input)="inputChange(0)"/>
<div>:</div>
<input type="text" maxlength="2" #minuteInput [(ngModel)]="timeArr[1]" placeholder="--" onpaste="return false;" 
    (keydown)="keyDownEvent($event, 1)" (keyup)="keyUpEvent(1)" (input)="inputChange(1)"/>
<div>:</div>
<input type="text" maxlength="2" #secondInput [(ngModel)]="timeArr[2]" placeholder="--" onpaste="return false;" 
    (keydown)="keyDownEvent($event, 2)" (keyup)="keyUpEvent(2)" (input)="inputChange(2)"/>
<div class="column"></div>
<img class="reset-button" *ngIf="timeArr[0].length > 0 || timeArr[1].length || timeArr[2].length " (click)="resetClick()" src="assets/images/close-2.png"/>
<div class="column-0">
  <img class="modify-button" (click)="upClick()" style="margin-bottom: 5px" src="assets/images/triangle_up.png"/>
  <img class="modify-button" (click)="downClick()" src="assets/images/triangle_down.png"/>
</div>
<div class="spacer"></div>