:host {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
    outline: none;
    border: none;
    min-width: 20px;
    max-width: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance:none;
    -webkit-appearance: none;
}

.reset-button {
    height: 12px;
    width: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.modify-button {
    height: 8px;
    width: 8px;
    cursor: pointer;
}