<router-outlet></router-outlet>

<div *ngIf="http.showAddUserDialog || http.showModifyUserDialog || http.showDeleteUserDialog" class="dialog-mask"></div>
<mms-user-management-add-user *ngIf="http.showAddUserDialog" [ngStyle]="{ 'left': http.addUserDialogPosition.left + 'px', 'top': http.addUserDialogPosition.top + 'px' }" [params]="http.addUserParams"></mms-user-management-add-user>
<mms-user-management-delete-user *ngIf="http.showDeleteUserDialog" [ngStyle]="{ 'left': http.deleteUserDialogPosition.left + 'px', 'top': http.deleteUserDialogPosition.top + 'px' }" [params]="http.deleteUserParams"></mms-user-management-delete-user>
<mms-user-management-modify-user *ngIf="http.showModifyUserDialog" [ngStyle]="{ 'left': http.modifyUserDialogPosition.left + 'px', 'top': http.modifyUserDialogPosition.top + 'px' }" [params]="http.modifyUserParams"></mms-user-management-modify-user>