<div class="dialog-title-bar">
  <div class="dialog-title-bar-text">标签全览</div>
  <div class="row"></div>
  <div class="dialog-title-bar-close" (click)="close.emit()"></div>
</div>
<div class="dialog-content-full">
  <div class="video-name">视频名称：{{mediaName}}</div>
  <div class="line"></div>
  <div class="tags-table">
    <span *ngFor="let tagItem of tags.split(','); index as i;">
      <br *ngIf="(i % 5) == 0 && i > 0"/>
      <span class="tag-item" title="{{tagItem}}">{{tagItem}}</span>
    </span>
  </div>
  <div class="line"></div>
  <div class="row" style="justify-content: flex-end;">
    <div class="user-info-cancel-button" (click)="close.emit()">关闭</div>
  </div>
</div>