:host {
    position: absolute;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: black;
    z-index: 5;
    
    font-family: "SimSun";
    font-size: 14px;
}

.video-name {
    font-family: "SimSun";
    font-size: 14px;
    font-weight: bold;
}

.tags-table {
    min-width: 460px;
    min-height: 70px;
}

.tag-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    background-color: #eeeeee;
    border: 1px solid #afafaf;
    color: #363636;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.line {
    border: 1px solid #DCDCDC;
    margin-top:15px;
    margin-bottom: 15px;
}