<div class="row-0 nav-1-bkg">
  <div class="row"></div>
  <div *ngIf="http.authInfo.isAuthenticated"  class="nav-1 center-c">
    <div class="home" (click)="gotoHome()">首页</div>
    <div class="row"></div>
    <div *ngIf="!http.isExtifsMode" class="nav-1-user-name" (click)="popupUserContextMenu()" #userDiv>用户：{{ http.authInfo.username }}</div>
    <div *ngIf="!http.isExtifsMode" class="nav-1-user-dropdown" (click)="popupUserContextMenu()"></div>
    <div *ngIf="http.isExtifsMode" class="nav-1-user-name-extifs-mode">用户：{{ http.authInfo.username }}</div>
  </div>
  <div *ngIf="!http.authInfo.isAuthenticated" class="nav-1 center-c">
    <div class="home" (click)="gotoHome()">首页</div>
    <div class="row"></div>
    <div class="nav-1-login-button" (click)="login()">登录</div>
  </div>
  <div class="row"></div>
</div>

<div class="row-0 nav-2-bkg">
  <div class="row"></div>
  <div class="nav-2">
    <div class="row"></div>
    <div class="row-0">
      <div class="row">
        <mms-logo></mms-logo>
      </div>
      <div class="column" style="justify-content: center;">
        <div class="row-0" #byText>
          <input class="row input-1" [(ngModel)]="http.searchInfo.request.text" [ngModelOptions]="{standalone: true}" placeholder="请输入需要查找的文本" #textInput/>
          <button class="img-button" (click)="uploadImageDropDown()" #imgButton></button>
          <button class="search-button" (click)="searchByText()" #searchButton></button>
        </div>
        <div class="row-0 display-none" #byImage>
          <img class="image-preview-1" width="60" height="48" #imagePreview>
          <input class="row input-3" [(ngModel)]="http.searchInfo.request.imageName" [ngModelOptions]="{standalone: true}" placeholder="请选择需要查找的图片" readonly="true" #imageNameInput/>
          <button class="image-close-button" (click)="closeImageSearch()" #imageCloseButton></button>
          <button class="img-button" (click)="uploadImageDropDown()" #imgUploadDropDownButton></button>
          <button class="search-button" (click)="searchByImage()" #imgSearchButton></button>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>

<div class="row-0">
  <div class="row"></div>
  <div class="filter">
    <div style="margin-left: 20px;"></div>
    <div class="row-0" style="font-family: SimSun; font-size: 14px; color: #535353; ">类型：</div>&nbsp;&nbsp;&nbsp;
    <div class="row-0 video-result-filter-type" [class.video-result-filter-current-type]="http.searchInfo.request.mediaType === 1" (click)="filterChanged(1)">课程</div>
    &nbsp;&nbsp;&nbsp;<div style="color: gray;">|</div>&nbsp;&nbsp;&nbsp;
    <div class="row-0 video-result-filter-type" [class.video-result-filter-current-type]="http.searchInfo.request.mediaType === 2" (click)="filterChanged(2)">资源</div>
    &nbsp;&nbsp;&nbsp;<div style="color: gray;">|</div>&nbsp;&nbsp;&nbsp;
    <div class="row-0 video-result-filter-type" [class.video-result-filter-current-type]="http.searchInfo.request.mediaType === 3" (click)="filterChanged(3)">片段</div>
    <div class="row"></div>
    <div class="list-1" (click)="list()" #listE></div>
    <div class="spacer-2"></div>
    <div class="grid-1" (click)="grid()" #gridE></div>
    <div style="margin-right: 20px;"></div>
  </div>
  <div class="row"></div>
</div>

<div *ngIf="isShowByList && (http.searchInfo.request.mediaType === 1) && http.searchInfo.reply.course.list && (http.searchInfo.reply.course.list.length > 0)" class="column-0">
  <mms-result-list-item *ngFor="let courseRes of http.searchInfo.reply.course.list" [courseRes]="courseRes"></mms-result-list-item>
</div>

<div *ngIf="isShowByList && (http.searchInfo.request.mediaType === 2) && http.searchInfo.reply.resource.list && (http.searchInfo.reply.resource.list.length > 0)" class="column-0">
  <mms-result-list-item *ngFor="let resourceRes of http.searchInfo.reply.resource.list" [resourceRes]="resourceRes"></mms-result-list-item>
</div>

<div *ngIf="isShowByList && (http.searchInfo.request.mediaType === 3) && http.searchInfo.reply.resource.list && (http.searchInfo.reply.resource.list.length > 0)" class="column-0">
  <mms-result-list-item *ngFor="let resourceRes of http.searchInfo.reply.resource.list" [resourceRes]="resourceRes"></mms-result-list-item>
</div>

<div *ngIf="!isShowByList && (http.searchInfo.request.mediaType === 1) && http.searchInfo.reply.course.grid && (http.searchInfo.reply.course.grid.length > 0)" class="column-0">
  <mms-result-grid-item *ngFor="let courseResList of http.searchInfo.reply.course.grid" [courseResList]="courseResList"></mms-result-grid-item>
</div>

<div *ngIf="!isShowByList && (http.searchInfo.request.mediaType === 2) && http.searchInfo.reply.resource.grid && (http.searchInfo.reply.resource.grid.length > 0)" class="column-0">
  <mms-result-grid-item *ngFor="let resourceResList of http.searchInfo.reply.resource.grid" [resourceResList]="resourceResList"></mms-result-grid-item>
</div>

<div *ngIf="!isShowByList && (http.searchInfo.request.mediaType === 3) && http.searchInfo.reply.resource.grid && (http.searchInfo.reply.resource.grid.length > 0)" class="column-0">
  <mms-result-grid-item *ngFor="let resourceResList of http.searchInfo.reply.resource.grid" [resourceResList]="resourceResList"></mms-result-grid-item>
</div>

<mms-pagination *ngIf="http.searchInfo.reply.page && (http.searchInfo.reply.page.end > 0)" [page]="http.searchInfo.reply.page" (currentPageChanged)="currentPageChanged($event)"></mms-pagination>

<div *ngIf="!(http.searchInfo.reply.page && (http.searchInfo.reply.page.end > 0))" class="row">
  <div class="row"></div>
  <div class="column-0 center-c">
    <div class="row"></div>
    <img width="159" height="159" src="assets/images/empty-search.png">
    <div style="font-family: 'Microsoft YaHei'; font-size: 16px; color: #3d3d3d; margin-top: 30px; ">抱歉！暂时没有您想要的数据~~</div>
    <div class="row"></div>
  </div>
  <div class="row"></div>
</div>
