:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(240, 244, 247);
    margin: 0;
    padding: 0;
}

.nav-1-bkg {
    background-color: rgb(55, 55, 55);
}

.nav-1 {
    color: white;
    width: 1200px;
    display: flex;
    flex-flow: row;
    flex-flow: 0;
    flex-shrink: 0;
}

.nav-1-user-name {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.nav-1-user-name-extifs-mode {
    height: 40px;
    line-height: 40px;
    font-family: "SimSun";
    font-size: 14px;
    color: white;
}

.nav-1-user-dropdown {
    width: 16px;
    height: 40px;
    background-image: url(../../assets/images/arrow_1.png);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav-1-login-button {
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.nav-1-login-button:hover {
    color: dodgerblue;
}

.nav-2-bkg {
    background-color: rgb(255, 162, 0);
}

.nav-2 {
    display: flex;
    flex-flow: column;
    width: 1200px;
    height: 110px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:#bfbfbf;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#bfbfbf;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#bfbfbf;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#bfbfbf;
}

.input-1 {
    border: 1px solid rgb(255, 162, 0);
    border-right: none;
    width: 200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    outline: none;
    height: 50px;
    font-family: "PingFang SC";
    font-size: 16px;
    color: #373737;
}

.input-2 {
    border: 1px solid rgb(255, 162, 0);
    border-right: none;
    width: 200px;
    border-top-left-radius: 5px;
    padding-left: 10px;
    outline: none;
    height: 50px;
    font-family: "SimSun";
    font-size: 16px;
}

.image-preview-1 {
    border: 1px solid rgb(255, 162, 0);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    padding: 1px;
}

.image-preview-2 {
    border: 1px solid rgb(255, 162, 0);
    border-right: none;
    border-top-left-radius: 5px;
    background-color: white;
    padding: 1px;
}

.input-3 {
    border: 1px solid rgb(255, 162, 0);
    border-left: none;
    border-right: none;
    width: 92px;
    font-size: 1em;
    padding: 0;
    padding-left: 10px;
    outline: none;
    height: 50px;
    font-family: "PingFang SC";
    font-size: 16px;
    color: #373737;
}

.image-close-button {
    width: 46px;
    border: 1px solid rgb(255, 162, 0);
    border-left: none;
    border-right: none;
    background-color: white;
    background-image: url(../../assets/images/close.png);
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: relative;
}

.img-button {
    width: 60px;
    background-color: white;
    border: 1px solid rgb(255, 162, 0);
    border-left: none;
    border-right: none;
    outline: none;
    background-image: url(../../assets/images/img-button.png);
    background-size: 38px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.search-button {
    width: 70px;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(255, 162, 0);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    background-image: url(../../assets/images/search-button.png);
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.search-button-2 {
    display: none;
}

.upload-image-1 {
    background-color: white;
}

.upload-image-2 {
    display: none;
}

.filter {
    background-color: white;
    width: 1200px;
    height: 60px;
    margin-top: 15px;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.line {
    width: 2px;
    height: 25px;
    background-color: gray;
}

.list-1 {
    background-image: url(../../assets/images/icon_list_y.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.list-2 {
    background-image: url(../../assets/images/icon_list_g.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.grid-1 {
    background-image: url(../../assets/images/icon_block_g.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.grid-2 {
    background-image: url(../../assets/images/icon_block_y.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.home {
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    text-align: center;
}

.home:hover {
    color: rgb(255, 162, 0);
}

